.col-sm-2.sidenav
  .list-group#item_list_container.item-list-container
    = render partial: 'users/list', locals: { users: users }
.col-sm-10.text-left#item_detail.item-detail
  - if users.present?
    = render partial: 'users/item', locals: { user: users.first }
  - else
    %p
      There are no Users.
