= link_to '<span class="glyphicon glyphicon-plus"></span> New User'.html_safe, new_user_path, remote: true,
  class: 'list-group-item list-group-item-info', id: 'new_user'
#item_list.item-list
  - users.each do |user|
    = render partial: 'list_item', locals: { user: user }
