.page-right-container
  - if notice.present?
    %p#notice.alert.alert-success= notice
  %p
    %strong Name:
    = department.name
  = link_to 'Edit', edit_department_path(department), remote: true, class: 'btn btn-primary btn-xs'
  = link_to 'Delete', department_path(department), remote: true, method: :delete, class: 'btn btn-danger btn-xs'
