- render_partial = @department.errors.blank? ? 'departments/item' : 'departments/form'
$('#item_detail').html("#{ escape_javascript(render(partial: render_partial, locals: { department: @department })) }");
- if @department.errors.blank?
  $('#item_list').prepend("#{ escape_javascript(render(partial: 'list_item', locals: { department: @department })) }");
