.row.content.layout-page#layout_page
  .col-sm-2.sidenav
    .list-group#item_list_container.item-list-container
      = render partial: 'requests/list', locals: { requests: @requests }
  .col-sm-8.text-left#item_detail.item-detail
    - if @requests.present?
      = render partial: 'requests/item', locals: { request: @requests.first }
    - else
      %p
        There are no Requests.
