.navbar-xs
  .navbar-primary
    %nav.navbar.navbar-static-top{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-8", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / %a.navbar-brand{:href => "#"} Brand
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-8.collapse.navbar-collapse
        %h4#sub_header.text-center.sub-header
          Requests
